.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

/*
.btn {
    background-color: blue;
}
*/

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.image-wireless {
    height: 40px;
    width: 40px;
    display: block;
    /* Other styles here */
}

.image-restaurant {
    height: 40px;
    width: 40px;
    display: block;
    /* Other styles here */
}

.image-bar {
    height: 40px;
    width: 40px;
    display: block;
    /* Other styles here */
}

.image-hotel {
    height: 60px;
    width: 60px;
    display: block;
}

.main-title {
    text-align: center;
}

.second-title {
    text-align: center;
}

#beach-imagen {
    width: 100%;
}

#calidad-hotel {
    text-align: center;
    size: 20px;
}