$yellow: #eccc68;
$red: #ff6348;
$green: #2ed573;
$white: #ffffff;

@mixin margenes($top, $bottom){

    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $white;
    color: black;
    @include margenes(50px, 0px);
    //margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
    
}

.card-hotel {
    flex: 1 200px;
    /*padding: 2px 0px 2px 0px;*/
    @include margenes(10px, 0px);
    
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.image-wireless {
    height: 40px;
    width: 40px;
    display: block;
    /* Other styles here */
}

.image-restaurant {
    height: 40px;
    width: 40px;
    display: block;
   
}

.image-bar {
    height: 40px;
    width: 40px;
    display: block;
    
}

.image-hotel {
    height: 60px;
    width: 60px;
    display: block;
}

.main-title {
    text-align: center;
}

.second-title {
    text-align: center;
}

#beach-imagen {
    width: 100%;
}

#calidad-hotel {
    text-align: center;
    size: 20px;
}