@yellow: #e8ff12;

.margenes(@top: 0px, @bottom: 0px){

    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
   
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px);
    
}

.card-hotel {
    flex: 1 200px;
    
    .margenes(10px, 0px);
    
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.image-wireless {
    height: 40px;
    width: 40px;
    display: block;
   
}

.image-restaurant {
    height: 40px;
    width: 40px;
    display: block;
   
}

.image-bar {
    height: 40px;
    width: 40px;
    display: block;
   
}

.image-hotel {
    height: 60px;
    width: 60px;
    display: block;
}

.main-title {
    text-align: center;
}

.second-title {
    text-align: center;
}

#beach-imagen {
    width: 100%;
}

#calidad-hotel {
    text-align: center;
    size: 20px;
}