.jumbotron {
  background-color: #ffffff;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #eccc68;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.image-wireless {
  height: 40px;
  width: 40px;
  display: block;
  /* Other styles here */ }

.image-restaurant {
  height: 40px;
  width: 40px;
  display: block; }

.image-bar {
  height: 40px;
  width: 40px;
  display: block; }

.image-hotel {
  height: 60px;
  width: 60px;
  display: block; }

.main-title {
  text-align: center; }

.second-title {
  text-align: center; }

#beach-imagen {
  width: 100%; }

#calidad-hotel {
  text-align: center;
  size: 20px; }
